
<div>

  <div *ngIf="showError" class="alert">
    <span [innerHTML]="errorMessage"></span>
  </div>

  <div *ngIf="step1IsVisible">
    <h1>Step 1</h1>
    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
      <div class="cols">
        <div class="cols-item1">
          <label for="email">Login</label>
        </div>
        <div class="cols-item2">
          <input type="email" id="email" formControlName="email" />
          <div>
            <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
            <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
          </div>
        </div>
      </div>
      <div class="cols">
        <div class="cols-item1">
          <label for="password">Password</label>
        </div>
        <div class="cols-item2">
          <input type="password" id="password" formControlName="password" />
          <div>
            <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
            <em *ngIf="validateControl('password') && hasError('password', 'minLength')">Minimum password length is 2 characters.</em>
            <em *ngIf="validateControl('password') && hasError('password', 'maxLength')">Maximum password length is 50 characters.</em>
            <em *ngIf="validateControl('password') && hasError('password', 'pattern')">Must contain min 1 digit and min 1 letter.</em>
          </div>
        </div>
      </div>
      <div class="cols">
        <div class="cols-item1">
          <label for="confirm">Confirm Password</label>
        </div>
        <div class="cols-item2">
          <input type="password" id="confirm" formControlName="confirm" />
          <div>
            <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
            <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
          </div>
        </div>
      </div>
      <div class="cols">
        <div class="cols-item1">

        </div>
        <div class="cols-item2">
          <input type="checkbox" id="agree" formControlName="agree" />
          <label for="agree">Agree to work for food</label>
          <div>
            <em *ngIf="validateControl('agree') && hasError('agree', 'requiredtrue')">Confirmation is required</em>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div>
          <button type="submit" [disabled]="!registerForm.valid">Go to step 2</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="step2IsVisible">
    <h1>Step 2</h1>
    <form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="updateUser(updateForm.value)">
      <div class="cols">
        <div class="cols-item1">
          <label for="country">Country</label>
        </div>
        <div class="cols-item2">
          <select formControlName="country" id="country" (change)="onCountryChange()">
            <!--<option [ngValue]="null" selected disabled>Select country</option>-->
            <option *ngFor="let country of countries" [ngValue]="country" [attr.selected]="country.selected" [attr.disabled]="country.disabled">
              {{ country.name }}
            </option>
          </select>
          <div>
            <em *ngIf="validateUpdateControl('country') && updateFormHasError('country', 'required')">Country is a required field</em>
          </div>
        </div>
      </div>
      <div class="cols">
        <div class="cols-item1">
          <label for="province">Province</label>
        </div>
        <div class="cols-item2">
          <select formControlName="province" id="province" (change)="onProvinceChange()">
            <!--<option [ngValue]="null" selected disabled>Please select country first</option>-->
            <option *ngFor="let province of provinces" [ngValue]="province" [attr.selected]="province.selected" [attr.disabled]="province.disabled">
              {{ province.name }}
            </option>
          </select>
          <div>
            <em *ngIf="validateUpdateControl('province') && updateFormHasError('province', 'required')">Province is a required field</em>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div>
          <button type="submit" [disabled]="!updateForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
